
.nav {
    background-color: whitesmoke;
    padding: 20px 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(151, 151, 151, 0.3);
position: fixed;
bottom:0;
width: 100%;
}
.nav__list {
    display: flex;
    justify-content: space-between;
}
.nav__link {
    position: relative;
    color: #2F2F2F;
   
}
      .nav__notification {
        background-color: tomato;
        width:  30px;
        height: 30px;
        display: flex;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        left: 16px;
        bottom: 15px;
       
      }
.small-notification {
    width:  10px;
    height: 10px;
    border-radius: 5px;
    color: tomato;
    left: 28px;
    bottom: 25px;
}
